.video-slider {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;

  .slider-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
  }

  .slider-video.active {
    opacity: 1;
    pointer-events: auto;
  }
}
