.prices {
  color: var(--color-text);
  min-height: 90vh;

  z-index: 0;
  position: relative;

  &__hero {
    text-align: center;

    .prices__subtitle {
      color: var(--gray-11);
      font-style: italic;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    &-section {
      flex: 1 1 0;
      min-width: 280px;
    }
  }

  &__icon {
    max-width: 3rem;
    height: auto;

    &.flipped {
      transform: scaleX(-1);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.75rem;

    p {
      margin: 0;
      font-weight: var(--fw-semi-bold);
    }
  }

  &__dots {
    flex-grow: 1;
    border-bottom: 2px dotted black;
    opacity: 0.25;
  }
}
